.Transition-History{
    text-align: center;
    width: 28%;
    margin: auto;
    height: 13vh;
    padding: 1.5rem 0;

    &>ul{
      margin: 0;
      padding: 0;
    }
    &>ul>li{
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      padding: 0px 20px;
      background-color: lightcoral;
    }
  }
  