*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header h2{
  text-align: center;
  padding-top: 2rem;
}

.balance{
   & h4{
    text-align: center;
    padding-top: 1rem;
   }

   & h1{
    text-align: center;
   }
}

.Account-Section{
  display: flex;
  justify-content: center;
  //align-items: center;
  background-color: rgb(247, 241, 241);
  width: 20%;
  margin: auto;
  height: 13vh;
  padding: 0.5rem;

  &-Income{
     text-align: center;
     padding: 1rem;
     & p{
       padding: 5px;
     color: green;

     }
  }

  &-Expense{
   text-align: center;
   padding: 1rem;
   & p{
    padding: 5px;
    color: red;
  }
}

}

